/* ALL CASE STUDIES */

:root{
  --exalton-blue: rgb(86, 141, 218);
    --main-purple: #A4B1E7;
    --main-charcoal: #262626;
    --main-white: #EBE8E8;
    --sec-white: #B4B4B4;
    --main-black: #555555;
    --sec-black: #6F6F6F;
    --num-gray: rgba(111,111,111,.17);
    --main-tan: #FFFBF4;
    --main-gray: #B4B4B4;
  }
  
  .delay-1 {
    animation-delay: .25s;
  }
  
  .delay-2 {
    animation-delay: .5s;
  }
  
  .delay-3 {
    animation-delay: .75s;
  }
  
  .delay-4 {
    animation-delay: 1s;
  }
  
  .delay-5 {
    animation-delay: 1.25s;
  }
  
  @font-face{
    font-family: 'cereal-bold';
    src: url('../fonts/airbnb-cereal/AirbnbCereal-Bold.ttf');
  }
  
  @font-face{
    font-family: 'cereal-med';
    src: url('../fonts/airbnb-cereal/AirbnbCereal-Medium.ttf');
  }
  
  @font-face{
    font-family: 'cereal-book';
    src: url('../fonts/airbnb-cereal/AirbnbCereal-Book.ttf');
  }
  
  
  @font-face{
    font-family: 'dm-reg';
    src: url('../fonts/dm-serif/dmserifdisplay/DMSerifDisplay-Regular.ttf');
  }
  
  @font-face{
    font-family: 'tiempo-semi';
    src: url('../fonts/tiempos-headline/TiemposHeadline-Semibold.otf');
  }

  * {
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--main-tan);
  }

  a{
    text-decoration: none;
  }


/* CASE STUDY NAV ICON (BLACK COLOR) */

.burger-wrapper{
    width: 80%;
    margin: auto;
  }

#nav-icon3-ex {
    z-index: 5;
    width: 40px;
    height: 30px;
    position: fixed;
    margin-top: 50px;
    margin-left: 80%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon3-ex span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--main-black);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon3-ex:hover span{
    background: var(--main-white);
  }
  
  #nav-icon3-ex span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3-ex span:nth-child(2),#nav-icon3-ex span:nth-child(3) {
    top: 12px;
  }
  
  #nav-icon3-ex span:nth-child(4) {
    top: 24px;
  }
  
  #nav-icon3-ex.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
    background-color: var(--main-charcoal);
  }
  
  #nav-icon3-ex.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: var(--main-charcoal);
  }
  
  #nav-icon3-ex.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: var(--main-charcoal);
  }
  
  #nav-icon3-ex.open span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
    background-color: var(--main-charcoal);
  }

 
/* MENU OVERLAY */

#menu{
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  background-color: var(--main-tan);
  overflow-x: hidden;
  transition: 0.5s;
}

.menu-wrapper{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  display: flex;
  justify-content: space-around;
}

.featured-menu, .archive-menu, .more, .social{
  /* width: 50%; */
}
.menu-header{
  font-family: 'cereal-bold', sans-serif;
  color: var(--sec-white);
  font-size: 1.5vw;
  letter-spacing: 0.1em;
  margin-bottom: 2vw;
}

.menu-proj-head{
  font-family: 'cereal-bold', sans-serif;
  color: var(--main-charcoal);
  font-size: 1.3vw;
  letter-spacing: 0.05em;
  margin-bottom: .5vw;
}

.menu-proj-head-nc{
  font-family: 'cereal-bold', sans-serif;
  color: var(--main-charcoal);
  font-size: 1.3vw;
  letter-spacing: 0.05em;
  margin-bottom: 3.7vw;
}

.menu-proj-head-alert{
  font-family: 'cereal-bold', sans-serif;
  color: var(--main-charcoal);
  font-size: 1.3vw;
  letter-spacing: 0.05em; 
}

#copy-alert{
  font-family: 'cereal-book', sans-serif;
  color: var(--sec-black);
  font-size: 0.8vw;
  letter-spacing: 0.025em;
  opacity: 0;
  margin-bottom: 2.5vw;
}

.alert-appear{
  opacity: 1;
}

.menu-proj-skills{
  font-family: 'cereal-med', sans-serif;
  color: var(--sec-white);
  font-size: 1vw;
  letter-spacing: 0.02em;
  margin-bottom: 2vw;
}

.menu-item{
  text-decoration: none;
}
.menu-item:hover h2{
  color: var(--main-purple);
  transition: 0.5s;
}

.menu-item:hover h3{
  color: var(--main-purple);
  transition: 0.5s;
}

.featured-menu:hover h1, .archive-menu:hover h1, .more:hover h1, .social:hover h1 {
  color: var(--main-purple);
  transition: 0.2s;
}

  
.view-btn{
  cursor: pointer;
  color: var(--sec-black);
  padding: .5vw .8vw;
  white-space: nowrap;
  font-family: 'cereal-bold', sans-serif;
  font-size:1.2vw;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  width: 100%;  
  overflow: hidden;
  position: relative;
  text-align: center;
}

.view-btn {
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

/* FONTS */

.title{
    font-family: 'tiempo-semi', serif;
    color: var(--main-white);
    font-size: 5.5vw;
  }
  
  .section-header{
   font-family: 'tiempo-semi', serif;
   color: var(--main-charcoal);
   font-size: 3vw;
  }
  
  .header{
   font-family: 'cereal-med', sans-serif;
   color: var(--main-white);
   font-size: 2vw;
  }
  
  .section{
    font-family: 'cereal-med', sans-serif;
    color: var(--main-gray);
    font-size: 1.5vw; 
  }

  .subheader{
    font-family: 'cereal-med', sans-serif;
    color: var(--main-black);
    font-size: 1.25vw;
  }
  
  .date{
   font-family: 'cereal-med', sans-serif;
   color: var(--main-white);
   font-size: 1.2vw;
   margin-top: 1vw;
  }
  
  .content{
   font-family: 'cereal-book', sans-serif;
   color: var(--main-black);
   font-size: 1vw;
   width: 50vw;
  }
  
  .image-footer{
    font-family: 'cereal-med', sans-serif;
    color: var(--main-gray);
    font-size: 1vw;
    margin-top: 0.5vw;
   }
  
   .footer-width{
     width: 60vw;
   }
  .bold-content{
    font-family: 'cereal-bold', sans-serif;
    color: var(--main-black);
    font-size: 1.2vw;
    width: 50vw;
   }
  
  .italic-content{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: var(--main-black);
    font-size: 1vw;
  }
  
  .bold-italic-content{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    /* font-style: italic; */
    color: var(--main-black);
    font-size: 1vw;
  }
  
  .links{
   font-family: 'cereal-med', serif;
   color: var(--main-black);
   font-size: 1.5vw;
  }

  /* BACK BUTTON */


#back-home-ex{
    position: absolute;
    top: 4vw;
    left: 9.5vw;
    z-index: 4;
    transition: 0.25s;
    color: var(--main-white);
  }
  
  #back-home-ex:hover{
    color: var(--main-white);
  }

  /* NAVIGATION */

  .top-nav-ex{
    position: relative;
    background-color: var(--exalton-blue);
  }
  
  /* SCROLL DOWN LINE  */

  .line-ex-web {
    z-index: 2;
    width: 1px;
    height: 100px;
    background-color: rgb(126, 126, 126);
    display: block;
    position: absolute;
    bottom: 0;
    left: 10%;
  }

  .line-ex-web::before {
      content: '';
      width: 1px;
      height: 50%;
      top: 0;
      background-color: rgb(240, 240, 240);
      display: block;
      animation: downWipe 2s ease-in-out infinite;
    }


    /* EXALTON HERO */

    .hero-big-container{
        background-color: var(--exalton-blue);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
      }
      .hero-ex{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
      }
    
      .bottom-banner-ex{
        position: relative;
      }
    
      .left-banner-ex{
        margin-top: 10vw;
      }
        
      #hero-caption{
        white-space: nowrap;
        margin-top: -1vw;
        margin-bottom: 2vw;
      }
    
      .hero-desc{
        margin-top: .5vw;
        color: var(--main-white)
      }
    
    .right-banner-ex{
      margin-top: 8vw;
      position: relative;
    }
    
    #ex-web-mock{
      width: 22vw;
      height: auto;
      max-height: 25vw;
      margin-right: 10vw;
      height: auto;
    }
    
    .bottom-banner-ex{
      background-color: var(--main-white);
      width: 60%;
      padding: .5em .5em;
      border-radius: 65px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      -webkit-box-shadow: 5px 5px 10px 2px rgba(54, 54, 54, 0.1);
      -moz-box-shadow: 5px 5px 10px 2px rgba(54, 54, 54, 0.1);;
      box-shadow: 5px 5px 10px 2px rgba(54, 54, 54, 0.1);
      
      }
      
      .link-containers{
        width: 12vw;
        text-align: center;
        background-color: var(--exalton-blue);
        padding: .6em 0;
        border-radius: 65px;
      }
      
      .link-containers a{
        color: var(--main-white);
      }
      
      .link-containers-off{
        width: 12vw;
        text-align: center;
        background-color: var(--main-white);
        padding: .6em 0;
        border-radius: 65px;
      }
      
      .link-containers-off a:nth-child(1){
        color: var(--main-charcoal)
      }
      
      
      
      
      .link-containers-off a:hover{
      color: var(--exalton-blue);
      transition: 0.25s;
      }

.content-container{
  background-color: var(--main-tan);
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
}

.process-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.process-graphic{
  margin-top: 3vw;
  width: 100%;
  height: auto; 
}

.section-gap{
  margin-bottom: 5vw;
}

/* .empathize-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.section-label{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.inner-gap{
  margin-bottom: 5vw;
}

.section-bar{
  width: 70%;
  height: .3vw;
}

.exalton-bar{
  background: linear-gradient(to right, #549BFC, #FFFBF4);
}

.text-layout{
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 3vw; */
}

.ca-section{
  display: flex;
  flex-direction: column;
}

.ex-ca-graphic{
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
}

.thinking-graphics-wrapper{
  display: flex;
  justify-content: space-between;
}

.thinking-graphic{
  margin-top: 2vw;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}



.top-gap{
  margin-top: 3vw;
}

.top-gap-l{
  margin-top: 4vw;
}

.top-gap-xl{
  margin-top: 5vw;
}

.top-gap-footer{
  margin-top: 1vw;
}

.personas{
  display: flex;
  justify-content: space-around;
}

.persona-graphic{
  width: 30%;
  height: auto;
}

.full-graphic{
  width: 100%;
  height: auto;
}

.s-c-graphic{
  width: 50%;
  height: auto;
}

.column-flx{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-flx{
  display: flex;
  justify-content: space-between;
}

.endflex-layout{
  display: flex;
  justify-content: flex-end;
}

.has-footer{
  text-align: center;
}

.wire-graphic{
  width: 100%;
  height: auto;
}


.wire-image-wrapper{
  display: flex;
  justify-content: space-between;
}

.right-margin{
  margin-right: 10%;
}

.left-margin{
  margin-left: 10%;
}


/* MORE PROJECTS */

.more-projects-header{
  text-align: center;
}

.more-header{
  font-family: 'dm-reg', serif;
  font-size: 2vw;
  color: var(--main-black);
  margin-top: 1vw;
}

.more-number{
  font-family: 'fieldwork', sans-serif;
  font-weight: 400;
  font-size: 12vw;
  color: var(--num-gray);
  position: absolute;
  right: 0;
  top: -3%;
  z-index: 1;

}

.more-projects{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.flex-gap-holder{
  display: flex;
  flex: 1 0 10vw;
}
.solemate-more{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.solemate-more-bg{
  padding-top: 2vw;
  padding-bottom: 1vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  background-color: white;
  -webkit-box-shadow: 11px 9px 14px 0px rgba(214,214,214,1);
-moz-box-shadow: 11px 9px 14px 0px rgba(214,214,214,1);
box-shadow: 11px 9px 14px 0px rgba(214,214,214,1);
}

.sm-more-graphic{
  width: 70%;
  height: auto;
  z-index: 2;
}


.more-button{
  margin-top: 0;
}

.more-button-venmo{
  margin-top: -.65vw;
}

.sm-btns-more, .venmo-btns-more{
text-align: center;
margin-top: 2vw;
margin-right: 1.5vw;
z-index: 3;
}

.sm-btn-wrap{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -10%;
}

.venmo-btn-wrap{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* margin-top: -10%; */
}

/* venmo button */
.view-venmo{
  border: 0 solid #C0E5F5;
  outline: 3px solid rgba(192, 229, 245, 0);
  /* border: 3px solid #C6D5E6; */
  outline-color: #C0E5F5;

}

.view-venmo:hover{
  color: #C0E5F5;
  border: 3px solid #C0E5F5;
  outline-color: rgba(192, 229, 245, 0); 
}

.view-sm{
  border: 0 solid rgb(223, 239, 236);;
  outline: 3px solid rgb(223, 239, 236);
  /* border: 3px solid #C6D5E6; */
  outline-color: rgb(223, 239, 236);;

}

.view-sm:hover{
  color: rgb(223, 239, 236);
  border: 3px solid rgb(223, 239, 236);
  outline-color: rgba(223, 239, 236, 0); 
}


.more-button{
  margin-top: 0;
}

.more-button-venmo{
  /* margin-top: -.65vw; */
}

/* FOOTER BUTTONS */

.footer-btns{
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  text-align: center;
  /* margin-top: 23%; */
  margin-top: 2.5vw;
}

.cnt-btn-foot-wrap{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 5%;
  text-align: center;
}

.cnt-btn-foot{
  color: var(--main-charcoal);
  background-color: var(--main-white);
  /* padding: 10px 20px; */
  /* padding: 0.5vw 1.2vw; */
  padding: .5vw 0vw;
  cursor: pointer;
  white-space: nowrap;
  font-family: 'cereal-bold', sans-serif;
  font-size:1.5vw;
  line-height: 50px;
  max-width: 250px;
  margin: 0 0 2em;
  position: relative;
  text-decoration: none;
  width: 100%; 
  /* margin-right: 10%; */
  transition: all 0.3s ease 0s;
  text-align: center;
}

.cnt-btn-foot:hover{
  background-color: white;
}

#copy-alert-foot{
  font-family: 'cereal-book', sans-serif;
  color: var(--sec-white);
  font-size: 0.8vw;
  letter-spacing: 0.025em;
  opacity: 0;
  white-space: nowrap;
  margin-top: -10%;
}

.view-foot{
  border: 0 solid #C6D5E6;
  outline: 3px solid rgba(198, 213, 230, 0);
  /* border: 3px solid #C6D5E6; */
  outline-color: rgb(255, 255, 255);
  color: var(--main-white);
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
  cursor: pointer;
  color: var(--sec-black);
  padding: .5vw .8vw;
  white-space: nowrap;
  font-family: 'cereal-bold', sans-serif;
  font-size:1.2vw;
  font-weight: 400;
  line-height: 45px;
  margin: 0.1em 0 2em;
  position: relative;
  text-decoration: none;
  width: 100%;  
  overflow: hidden;
  position: relative;
  text-align: center;

  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

}

.view-foot:hover{
  color: white;
  border: 3px solid #C6D5E6;
  outline-color: rgba(255, 255, 255, 0); 
}



.view-btn:hover {
  /* color: rgb(250, 220, 136);
  border: 3px solid rgb(250, 220, 136); */
  outline-offset: 15px;
}



/* FOOTER */

.case-footer{
  background-color: var(--main-charcoal);
  height: 50vw;
  margin-top: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text{
  font-family: 'cereal-bold', sans-serif;
  font-size: 2.5vw;
  width: 50vw;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  color: var(--main-white);
}

.left-footer{
  margin-left: 10%;
}

.right-footer{
}
.footer-me{
  width: 100%;
  height: auto;
}


/* RESPONSIVE */

@media only screen and (max-width:1450px) and (min-width: 501px){

  .hero-big-container{
    height: 50vw;
  }

  #back-home-ex{
    z-index: 2;
  }

  .menu-wrapper{
    flex-direction: column;
  }

  .featured-menu, .archive-menu{
    margin-bottom: 5vw;
  }

  .menu-header{
    font-family: 'cereal-bold', sans-serif;
    color: var(--sec-white);
    font-size: 2.5vw;
    letter-spacing: 0.1em;
    margin-bottom: 2vw;
  }
  
  .menu-proj-head{
    font-family: 'cereal-bold', sans-serif;
    color: var(--main-charcoal);
    font-size: 2vw;
    letter-spacing: 0.05em;
    margin-bottom: .5vw;
  }
  
  .menu-proj-head-nc{
    font-family: 'cereal-bold', sans-serif;
    color: var(--main-charcoal);
    font-size: 2vw;
    letter-spacing: 0.05em;
    margin-bottom: 3.7vw;
  }
  
  .menu-proj-head-alert{
    font-family: 'cereal-bold', sans-serif;
    color: var(--main-charcoal);
    font-size: 2vw;
    letter-spacing: 0.05em; 
  }
  
  #copy-alert{
    font-family: 'cereal-book', sans-serif;
    color: var(--sec-black);
    font-size: 1vw;
    letter-spacing: 0.025em;
    opacity: 0;
    margin-bottom: 2.5vw;
  }

  .menu-proj-skills{
    font-family: 'cereal-med', sans-serif;
    color: var(--sec-white);
    font-size: 1.5vw;
    letter-spacing: 0.02em;
    margin-bottom: 2vw;
  }

  .more-header{
    font-size: 3.5vw;
  }

  .more-number{
    top: 10%;
  }

  .view-btn{
    line-height: 3vw;
    max-width: 10vw;
    font-size: 1.5vw;
  }

    

  .cnt-btn-foot, .view-foot{
    font-size: 2vw;
    /* line-height: 3.5vw; */
  }

  .row-flx{
    flex-direction: column;
  }

  .top-gap{
    margin-top: 8vw;
  }

}








@media only screen and (max-width:500px){
  .menu-wrapper{
    flex-direction: column;
  }

/* BUTTONS */


#back-home-ex{
  z-index: 2;
  font-size: 3.5vw;
  top: 7vw;
}

.view-btn{
  display: none;
}

.view-btn-abt:hover{
  box-shadow: inset 0 0 20px rgba(155, 155, 155, 0), 0 0 20px rgba(155, 155, 155, 0);
}

.links{
  font-size: 3.5vw;
}

  /* HAMBURGER */

  .burger-wrapper{
    width: 90%;
    margin: auto;
  }
  
  #nav-icon3-ex {
    z-index: 4;
    width: 20px;
    height: 15px;
    position: fixed;
    margin-top: 25px;
    /* margin-left: 80%; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon3-ex span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon3-ex span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3-ex span:nth-child(2),#nav-icon3-ex span:nth-child(3) {
    top: 6px;
  }
  
  #nav-icon3-ex span:nth-child(4) {
    top: 12px;
  }

  #nav-icon3-ex.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
    background-color: var(--main-charcoal);
  }
  
  #nav-icon3-ex.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: var(--main-charcoal);
  }
  
  #nav-icon3-ex.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: var(--main-charcoal);
  }
  
  #nav-icon3-ex.open span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
    background-color: var(--main-charcoal);
  }
  
/* MENU OVERLAY */

#menu{
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  background-color: var(--main-tan);
  overflow-x: hidden;
  transition: 0.5s;
}

.menu-wrapper{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  display: flex;
  justify-content: space-around;
}

.featured-menu, .archive-menu{
  margin-bottom: 10vw;
}
.menu-header{
  font-family: 'cereal-bold', sans-serif;
  color: var(--sec-white);
  font-size: 4.5vw;
  letter-spacing: 0.1em;
  margin-bottom: 2vw;
}

.menu-proj-head{
  font-family: 'cereal-bold', sans-serif;
  color: var(--main-charcoal);
  font-size: 3.5vw;
  letter-spacing: 0.05em;
  margin-bottom: .5vw;
}

.menu-proj-head-nc{
  font-family: 'cereal-bold', sans-serif;
  color: var(--main-charcoal);
  font-size: 3.5vw;
  letter-spacing: 0.05em;
  margin-bottom: 3.7vw;
}

.menu-proj-head-alert{
  font-family: 'cereal-bold', sans-serif;
  color: var(--main-charcoal);
  font-size: 3.5vw;
  letter-spacing: 0.05em; 
}

#copy-alert{
  font-family: 'cereal-book', sans-serif;
  color: var(--sec-black);
  font-size: 2vw;
  letter-spacing: 0.025em;
  opacity: 0;
  margin-bottom: 1vw;
}

.alert-appear{
  opacity: 1;
}

.menu-proj-skills{
  font-family: 'cereal-med', sans-serif;
  color: var(--sec-white);
  font-size: 2.5vw;
  letter-spacing: 0.02em;
  margin-bottom: 2vw;
}

.menu-item{
  text-decoration: none;
}
.menu-item:hover h2{
  color: var(--main-purple);
  transition: 0.5s;
}

.menu-item:hover h3{
  color: var(--main-purple);
  transition: 0.5s;
}

.featured-menu:hover h1, .archive-menu:hover h1, .more:hover h1, .social:hover h1 {
  color: var(--main-purple);
  transition: 0.2s;
}

.line-ex{
  display: none;
}

/* HERO */

.title{
  font-size: 15vw;
  letter-spacing: 0.05em;
}

.header{
  font-size: 5vw;
}

.date{
  font-size: 3.5vw;
}

.content{
  font-size: 2.5vw;
  width: 80vw;
}

.links{
  font-size: 5.5vw;
  margin-bottom: 8.5vw;
}

.hero-desc{
  margin-top: 1.5vw;
}

.hero-ex{
  flex-direction: column;
  align-items: center;
  margin-top: 15vw;
}

.hero-big-container{
  height: 100%;
}

.left-banner-ex{
  text-align: center;
}

.right-banner-ex{
  margin-top: 12vw;
}

#ex-web-mock{
  width: 55vw;
  max-height: 500vw;
  height: auto;
  margin-right: 0;
}

.bottom-banner-ex{
  flex-direction: column;
  text-align: center;
  margin-top: 10vw;
}


/* CONTENT */

.section{
  font-size: 3.5vw;
  margin-bottom: 3.5vw;
}

.section-header{
  font-size: 4.5vw;
}

.image-footer{
  font-size: 2.5vw;
}

.bold-content{
  font-size: 3.5vw;
  width: 80vw;
}

.italic-content, .bold-italic-content{
  font-size: 2.5vw;
}

.section-bar{
  width: 60%;
}

.inner-gap{
  margin-bottom: 8vw;
}

.top-gap{
  margin-top: 10vw;
}

.top-gap-l{
  margin-top: 13vw;
}

.text-layout{
  flex-direction: column;
}

.personas{
  flex-direction: column;
}

.persona-graphic{
  width: 100%;
}

.s-c-graphic{
  width: 100%;
}

.wire-image-wrapper{
  flex-direction: column;
}

.has-footer{
  margin-top: 5vw;
}

.subheader{
  font-size: 3.25vw;
  margin-bottom: 3vw;
}

.row-flx{
  flex-direction: column;
}

.final{
  width: 80%;
  height: auto;
}

.final-right{
  margin-top: 8vw;
}

/* MORE PROJECTS */

.more-projects{
  flex-direction: column;
}

.solemate-more-bg{
  padding-bottom: 2vw;
}
.sm-more-graphic{
  width: 70%;
  margin-top: 2vw;
}

.more-header{
  font-size: 7vw;
  margin-top: 2vw;
}

.more-number{
  font-size: 30vw;
  top: 15%;
}

/* FOOTER */

.case-footer{
  height: 150vw;
}

.right-footer{
  display: none;
}

.footer-text{
  font-size: 6.5vw;
  width: 80%;
  letter-spacing: 0.025em;
}

.footer-btns{
  flex-direction: column-reverse;
  margin-top: 8vw;
  justify-content: flex-start;
}

.cnt-btn-foot-wrap{
  margin-left: 0;
  margin-top: 1vw;
}

.cnt-btn-foot{
  font-size: 4.5vw;
}

.view-foot{
  max-width: 245px;
  font-size: 4.5vw;
}

#copy-alert-foot{
  font-size: 3.5vw;
  margin-top: -5%;
  text-align: left;
}
}